NODE_ENV=development
PORT=8080
DATABASE_URL=postgresql://user:password@localhost:5432/claimgame
JWT_SIGNING_SECRET=
CORS_ORIGIN=http://localhost:3000
CLAIMGAME_CONTRACT_ADDRESS=0x4F3789881344cB7a5176b19eEADBAc3586Bb2EA6
GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_CHAIN_ID=61999
